.form-wrapper {
  background-color: #cfdbd5;
  border-radius: 15px;
  /* display: flex;
    flex-direction: column; */
  width: 50%;
  padding: 1em;
  margin: 0 auto;
  margin-top: 50px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 2em;
}

.my-button {
  background-color: #373737;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 0.5em 2.5em;
  margin-top: 1.5em;
  border-radius: 15px;
  margin-right: 1.5em;
}

.button-wrapper {
  text-align: center;
}

.login-buttons {
  width: 100%;
  text-align: center;
}
