.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-basis: 40%;
  align-items: center;
  flex-wrap: wrap;
}

Link {
  padding: 0.5em;
}

@media screen and (max-width: 700px) {
  .nav-bar {
    justify-content: center;
  }
}
